.main{
    position: relative;
    top: 0%;
    width: 100%;
    border-bottom: 1px solid black;
    height: 100px;
    text-align: center;
    justify-content: center;
}

.container{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;


}

.name{
    position: relative;
    width: 16%;
    left: 240px;
    background: #4aaaa5;
    height: 100px;
    color: white
}

.links{
    position: absolute;
    top: 0%;
    left: 72%;
    word-spacing: 30px;
    font-family: Arial, Helvetica, sans-serif
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none
}

body{
    margin: 0 0 0 0;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif
}

p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5
}

.about-me{
    color: #4aaaa5;
    padding-bottom: 23px;
    border-bottom: 2px solid gray;
    margin-bottom: 5px
}

.pic{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.info{
    position: absolute;
    top: 163px;
    left: 240px;
    bottom: 240px;
    right: 240px;
    background: white;
}

.space{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px
}

.photo{
    width: 250px;
    height: 200px;
    padding-right: 20px;
    float: left;
}

/* .paragraph-1{ */
    /* float: right; */
/* } */
/* .paragraph-2, .paragraph-3{ */
    /* clear: both; */
/* } */


.wrap{
    text-align: center;
    vertical-align: bottom;
    color: white
}

.foot{
    position: fixed;
    bottom: 0;
    left: 50%
}
.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #666666;
    height: 75px;
    border-top: 8px solid #4aaaa5
}
